<%- include('../partials/headAndNav', {pageName: "Create a new pokemon!"}) %>

    <h1>CREATE-A-POKEMON!</h1>
    <form method="POST" action="/pokemon">
        <div>
            <label for="name">Pokemon's Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="image">Pokemon's Image URL</label>
            <input type="text" name="image" id="image">
        </div>
        <div>
            <label for="power">Pokemon's Type</label>
            <input type="text" name="power" id="power">
        </div>
        <input type="submit" value="Submit new pokemon">
    </form>

<%- include('../partials/footer') %>