<%- include('../partials/headAndNav', {pageName: "Create a new pokemon!"}) %>

    <h1>CREATE-A-POKEMON!</h1>
    <form method="POST" action="/pokemon">
        <div>
            <label for="name">Pokemon's Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div>
            <label for="image">Pokemon's Image URL</label>
            <input type="text" name="image" id="image" placeholder="Photo">
        </div>
        <div>
            <label for="power">Pokemon's Type</label>
            <input type="text" name="power" id="power" placeholder="Power">
        </div>
        <input class="button" type="submit" value="Submit New Pokemon!">
    </form>

<%- include('../partials/footer') %>