<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Pokedex</title>
</head>
<body>
    <nav>
        <a href="http://localhost:4000/">HOME</a>
        <a href="http://localhost:4000/pokemon">POKEMON</a>
        <a href="http://localhost:4000/types">TYPES</a>
    </nav>