<%- include('./partials/headAndNav.ejs', {pageName: "404 error", otherStyleSheet: "/styles/404.css"}) %>
    <h1>You missed the Pokemon! GO BACK <a href="http://localhost:4000">HERE!</a></h1>
    <%- include('./partials/footer.ejs') %>
