body {
    background-color:cadetblue;
    opacity: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    color:antiquewhite;
    border: 5px;
    border-color: black;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
} 

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    color:coral
}

#footer-h3 {
    display: flex;
    text-align: center;
    font-size: 2em;
}
footer {
    font-size: 2em;
}
.button {
    color:firebrick;
}
image {
    background-color: cadetblue;
    opacity: 0.5;
}
div {
    font-size: 2em;
}
h3, img, p {
    font-size: 1.6em;
    color: burlywood;
    text-decoration: none;
}
::backdrop {
    background-image: url(https://w0.peakpx.com/wallpaper/633/450/HD-wallpaper-original-151-pokemon-gen-1-characters.jpg);
}
